<div class="container">
  <div>
  <mat-toolbar color= "primary">
    <button class="btnTask" [matMenuTriggerFor]="afterMenu">
    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;
  </button>
    <span>{{user}}</span>
    <span class="example-spacer"></span>
    <button class="btnTask" matBadge="4" matBadgeOverlap="true" matBadgeColor = "warn"><i class="fa fa-tasks" aria-hidden="true"></i>
    </button>
  </mat-toolbar>
</div>
<mat-menu #afterMenu="matMenu">
  <div style="border-bottom: 1px solid black">Your Activities</div>
  <button mat-menu-item *ngFor="let task of tasks" >{{task.name}}</button>
</mat-menu>
<div>
<form #taskForm="ngForm" (submit)="saveForm(taskForm.value)" ngNativeValidate
              autocomplete="off">  
    <input type="text" id="taskName" name="taskName" class="form-control"  placeholder="Type Task Name" ngModel required> 
    <br>
    <div class="dateTime">
    <span style="color: white; font-size: larger;">Select Date and Time</span>
    <br>

    <input [owlDateTime]="dt2" placeholder="Date Time" id="dateTime" name="dateTime" class="form-control" ngModel required>
<span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
<owl-date-time #dt2></owl-date-time>
</div>
    <button type="submit" name="submit" id="submit"
										class="btn btn-primary btn-block">
                    <i class="fa fa-check" aria-hidden="true"></i></button>
</form>
</div>
</div>
<router-outlet></router-outlet>